---
import { db, Comment, eq, desc } from "astro:db";

interface Props {
  postSlug: string;
}

const { postSlug } = Astro.props;

const comments = await db
  .select()
  .from(Comment)
  .where(eq(Comment.postSlug, postSlug))
  .orderBy(desc(Comment.createdAt));
---

<div class="space-y-4">
  {
    comments.map((comment) => (
      <div class="p-4 bg-gray-50 rounded">
        <div class="flex flex-wrap gap-2 text-sm text-gray-400">
          <span class="font-semibold text-gray-500">{comment.name}</span>
          <span> • {comment.createdAt.toLocaleDateString()}</span>
        </div>
        <div class="mt-2 text-gray-800">{comment.message}</div>
      </div>
    ))
  }
</div>
