---
import CommentsForm from "./CommentsForm.astro";
import CommentsList from "./CommentsList.astro";

interface Props {
  postSlug: string;
}

const { postSlug } = Astro.props;
---

<div class="comments-section">
  <h3>Comments</h3>
  <div>
    <CommentsForm postSlug={postSlug} />
    <p>Debug: Looking for comments with slug: {postSlug}</p>
    <CommentsList postSlug={postSlug} server:defer />
  </div>
</div>
