---
import CommentsForm from "./CommentsForm.astro";
import CommentsList from "./CommentsList.astro";
import ReactionsButton from "./ReactionsButton.astro";
import ShareButton from "./ShareButton";

interface Props {
  postSlug: string;
}

const { postSlug } = Astro.props;
---

<div class="comments-section mt-4">
  <div class="flex flex-wrap gap-2 items-center text-sm">
    <ReactionsButton postSlug={postSlug} server:defer />
    <ShareButton client:idle />
  </div>
  <h3>Leave a Comment</h3>
  <div>
    <CommentsForm postSlug={postSlug} />
    <CommentsList postSlug={postSlug} server:defer />
  </div>
</div>
