---
interface Props {
  title: string;
  subtitle?: string;
  imageSrc?: string;
}

const { title, subtitle, imageSrc, } = Astro.props;
---

<section>
  {
    imageSrc && (
      <div class="hero-image">
        <img src={imageSrc} alt={title} />
      </div>
    )
  }

  <div class="hero-content">
    <h1>{title}</h1>
    {<p>{subtitle}</p>}
  </div>
</section>

<style>

 
 .hero-image {
    padding-block: 0 1rem;
 }

  .hero-image img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  .hero-content {
    text-align: center;
  }

@media (min-width: 768px) {
    .hero-image img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
      max-width: 800px;
      margin-inline: auto;
  }
} 
</style>
